examples/examples/hdl-two-gateways.json
[
  {
    "id": "mqtt-in-bus",
    "type": "mqtt in",
    "z": "flow1",
    "name": "HDL Raw In",
    "topic": "BusToClient/+/+",
    "qos": "0",
    "datatype": "buffer",
    "broker": "MQTT_BROKER_ID",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 160,
    "y": 120,
    "wires": [["smartbus-decoder"]]
  },
  {
    "id": "smartbus-decoder",
    "type": "smartbus",
    "z": "flow1",
    "name": "SmartBus Decoder",
    "x": 380,
    "y": 120,
    "wires": [["smartbus-router", "debug-decoded"]]
  },
  {
    "id": "debug-decoded",
    "type": "debug",
    "z": "flow1",
    "name": "Decoded HDL",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 620,
    "y": 60,
    "wires": []
  },
  {
    "id": "smartbus-router",
    "type": "smartbus-router",
    "z": "flow1",
    "name": "SmartBus Router",
    "x": 620,
    "y": 140,
    "wires": [
      ["ha-discovery-light", "mqtt-state-light"],
      [],
      [],
      []
    ]
  },
  {
    "id": "ha-discovery-light",
    "type": "smartbus-ha-discovery",
    "z": "flow1",
    "name": "HA Discovery Light",
    "prefix": "homeassistant",
    "x": 880,
    "y": 100,
    "wires": [["mqtt-ha-config"]]
  },
  {
    "id": "mqtt-ha-config",
    "type": "mqtt out",
    "z": "flow1",
    "name": "MQTT HA Config",
    "topic": "",
    "qos": "",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "MQTT_BROKER_ID",
    "x": 1160,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-state-light",
    "type": "mqtt out",
    "z": "flow1",
    "name": "MQTT Light State",
    "topic": "",
    "qos": "",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "MQTT_BROKER_ID",
    "x": 900,
    "y": 180,
    "wires": []
  },
  {
    "id": "mqtt-in-ha-cmd",
    "type": "mqtt in",
    "z": "flow1",
    "name": "HA Light Command",
    "topic": "homeassistant/light/hdl_+_+_+/set",
    "qos": "0",
    "datatype": "auto",
    "broker": "MQTT_BROKER_ID",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 200,
    "y": 260,
    "wires": [["build-command"]]
  },
  {
    "id": "build-command",
    "type": "function",
    "z": "flow1",
    "name": "Build HDL Command",
    "func": "const parts = msg.topic.split(\"/\");\n// ... parse unique_id if needed\n// For demo, hardcode\nmsg.command = {\n    subnet: 1,\n    device: 10,\n    channel: 1,\n    value: msg.payload === \"ON\" ? 100 : 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 440,
    "y": 260,
    "wires": [["smartbus-encoder"]]
  },
  {
    "id": "smartbus-encoder",
    "type": "smartbus-encoder",
    "z": "flow1",
    "name": "SmartBus Encoder",
    "x": 690,
    "y": 260,
    "wires": [["mqtt-out-bus"]]
  },
  {
    "id": "mqtt-out-bus",
    "type": "mqtt out",
    "z": "flow1",
    "name": "HDL Raw Out",
    "topic": "ClientToBus/1", 
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "MQTT_BROKER_ID",
    "x": 930,
    "y": 260,
    "wires": []
  }
]
